<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

  </head>
    <body>

      <div id="slideShowImages">
     <img src="https://4.bp.blogspot.com/-I25mYhmYlT4/V3QyX8kMJvI/AAAAAAAABOU/srZWn2DIG2ovv3VqYQAs5QuMnwvPDGHlQCLcB/s1600/comoeuera.jpeg" alt="Slide 1" />
     <img src="https://2.bp.blogspot.com/-7togHh-9X0A/V3T45c7-xGI/AAAAAAAABPA/gcez5NnRgucmSKF4x3vRgEWpQ3gDSrQ4ACLcB/s1600/comoeuera.jpeg" alt="Slide 2" />
     <img src="https://4.bp.blogspot.com/-gcuL4JqSmGk/V3T65C0LbeI/AAAAAAAABPU/W52baSRpM5MXeZDWNm1p1uy_hptLzKoRgCLcB/s1600/comoeuera.jpeg" alt="Slide 3" />
     <img src="https://1.bp.blogspot.com/-iWFZxt-lz-k/V3UGo6XugEI/AAAAAAAABPk/ARPaLelQLkMdpTnT1Ajj1-9I6KchbgZAACLcB/s1600/comoeuera.jpeg" alt="Slide 4" />
  </div>
    <script src="app/javascripts/slideShow.js"></script>

    <div class="row column text-center">
      <h2>Novos Livros</h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4">
        <% @items.each do |item| %>
      <div class="column">
        <%= link_to item do %>
        <img class="thumbnail" src="<%= item.img_url %>">
        <h5><%=item.nome%></h5>
        <p>R$ <%= item.price %></p>
      </div>
      <% end %>
        <% end %>
    </div>

</html>
