<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

  </head>
    <body>

      <div id="slideShowImages">
     <img src="https://1.bp.blogspot.com/-1nwzZ0aA79Q/V3h1EDBnj1I/AAAAAAAABQA/HxrLXqkgbOA_wNMl6S6cVEPNE1oIpgkYQCLcB/s1600/comoerabanner_2000x750.jpg" alt="Slide 1" />
     <img src="https://4.bp.blogspot.com/-iLKI5-M0g-s/V3h0_bUW16I/AAAAAAAABP4/hA2lbjj9KKEfVeiiXQN8viFQ3QKGn8qRQCLcB/s1600/culpaestrelasbanner_2000x750.jpg" alt="Slide 2" />
     <img src="https://2.bp.blogspot.com/-eiIiaGpdtxU/V3h1B1FsKuI/AAAAAAAABP8/4Th6wdATa8A_PwEGuEkQ6hBzmTpzQ0fUQCLcB/s1600/depoisdevocebanner_2000x750.jpg" alt="Slide 3" />
     <img src="https://1.bp.blogspot.com/-sIQHWICZTXA/V3h11etaheI/AAAAAAAABQE/1PBhRIQa91IibHXvqRiohukGkWMYw5tywCLcB/s1600/crepusculobanner_2000x750.jpg" alt="Slide 4" />
  </div>
    <script src="app/javascripts/slideShow.js"></script>

    <div class="row column text-center">
      <br>
      <hr>
      <h2>Novos Livros</h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4">
        <% @items.each do |item| %>
      <div class="column">
        <%= link_to item do %>
        <img class="thumbnail" src="<%= item.img_url %>">
        <h5><%=item.nome%></h5>
        <p>R$ <%= item.price %></p>
      </div>
      <% end %>
        <% end %>
    </div>

</html>
