// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* General */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('https://1.bp.blogspot.com/-XYurq0vZQ_k/V2vNUe4OAPI/AAAAAAAABNw/QckXtuoHygALEDaubzK8NiOEw56EgzwNACLcB/s1600/loja%2Bvirtual.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

/* Main */
.main {
  color: #000000;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-size: 80px;
  font-weight: 250;
}

.main p {
  font-size: 30px;
  text-align: left;
}

@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
}
